<h2>Por continente</h2>
<hr>

<div class="row">
  <div class="col text-center">

    <!-- <shared-search-box
    (onDebounce)="searchByRegion($event)"
    placeholder="Buscar por Región"></shared-search-box>-->
      <button *ngFor="let region of regions" class="btn mx-2"
      [ngClass]="{'btn-outline-success':selectionRegion === region}"
      (click)="searchByRegion(region)">{{region}}</button>

  </div>
</div>

<div class="row">
  <div class="col">
    <hr>
    <countries-country-table [countries]="countries"></countries-country-table>
  </div>
</div>
